name: Add-on Validation

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-addon:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build add-on image
        run: docker build miele_rest_server
